<%- include('../header') %>

<%- include('../menu') %>

<!-- Start Include Contact-->
<div id="contact">
    <div id="contactBody">
        <h1><u>Conta</u>ct information</h1>
        <div id="aboutMeText"><%- employee.name %></div>
        <br>
        <div id="aboutMeText">Cel <%- employee.phone %></div>
        <div id="aboutMeText"><%- employee.email %></div>
        <br>
        <div id="aboutMeText"><%- employee.linkedin %></div>
        <div id="aboutMeText"><%- employee.github %></div>
        <div id="aboutMeText"><%- employee.Skype %></div>
    </div>
</div>
<!-- End Include Contact-->

<%- include('../footer') %>