<%- include('../header') %>

<%- include('../menu') %>

<!-- Start Include skills-->

<div id="skills">

    <div id="aboutMeName"> Experiences and Skills</div>

    <ul id="skillsList">
        <% companies.forEach( company => { %>
        <li>
            <div id="skillsLine"><%- company.titleFunction %> at <%- company.name %> ( <%- company.dtInit %> - <%- company.dtEnd %> )</div>
            <div id="skillsSubLine">
                <i><%- company.skills %></i>
            </div>
            <div id="skillsMore">
                <a href="/about/skillsDetail">more...</a>
            </div>
        </li>
        <% }) %>
    </ul>
</div>

<!-- End Include skills-->

<%- include('../footer') %>