<%- include('../header') %>

<%- include('../menu') %>

<!-- Start Include skills-->

<div id="container">

    <div id="aboutMeName"> <%- company.name %> </div>
    <div id="aboutMeText"> <%- company.titleFunction %> </div>
    <div id="skillsMore"> <%- company.skills %> </div>
    <div id="skillsMore"> 
        <a href="<%- company.site %>" > <%- company.site %> </a>
    </div>
    <br />
    <div id="skillsDescription"> <%- company.descricao %> </div>

</div>

<!-- End Include skills-->

<%- include('../footer') %>