<%- include('../header') %> 

<!-- Start Include skills-->

<div id="containerSkills">

    <div id="aboutMeName"> Experiences and Skills</div>

    <ul id="skillsList">
        <% companies.forEach( company => { %>
        <li>
            <div id="skillsLine"><%- company.titleFunction %> at <%- company.name %> ( <%- company.dtInit %> - <%- company.dtEnd %> )</div>
            <div id="skillsSubLine">
                <i><%- company.skills %></i>
            </div>
            <div id="skillsMore">
                <button class="button" onclick="window.location.href='/about/skillsDetail/<%- company.id %>'" style="vertical-align:middle"><span>More 
                     </span></button>
            </div>
        </li>
        <% }) %>
    </ul>
</div>

<!-- End Include skills-->

<%- include('../footer') %>